.Title{
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    font-style: italic;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 160, 160);
}
.User{
    display: flex;
    align-items: center;
}
.User-name{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.User-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0rem 0.5rem;
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
li, a{
    margin: 0 1rem;
    text-decoration: none;
}